page-home {

    .stat {
        border: 0.15rem dashed color($colors, danger);
    }

   .stat ion-card-content {
       font-size: 3rem;
       text-align: center;
   }

   .wasted {
       color: color($colors, danger);
   }

   .savings ion-item {
       background-color: color($colors, superlight);
   }
}
